* {
  box-sizing: border-box;
  background-color: rgb(47, 47, 47);
  color: white;
  font-family: sans-serif;
}

table#board {
  margin: 0 auto;
  border: 1px solid rgb(190, 190, 190);
}

.col {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}